Neuron.OSC.Ws/Service References/LysisService/DataTransfer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataTransfer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IDataTransfer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://serviciohl7.azurewebsites.net/hl7proxy/DataTransfer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://serviciohl7.azurewebsites.net/hl7proxy/DataTransfer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataTransfer_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IDataTransfer_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IDataTransfer_HL7DataRaw_InputMessage">
    <wsdl:part name="parameters" element="tns:HL7DataRaw" />
  </wsdl:message>
  <wsdl:message name="IDataTransfer_HL7DataRaw_OutputMessage">
    <wsdl:part name="parameters" element="tns:HL7DataRawResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataTransfer">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataTransfer/DoWork" message="tns:IDataTransfer_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataTransfer/DoWorkResponse" message="tns:IDataTransfer_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HL7DataRaw">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataTransfer/HL7DataRaw" message="tns:IDataTransfer_HL7DataRaw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataTransfer/HL7DataRawResponse" message="tns:IDataTransfer_HL7DataRaw_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IDataTransfer" type="tns:IDataTransfer">
    <wsp:PolicyReference URI="#WSHttpBinding_IDataTransfer_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap12:operation soapAction="http://tempuri.org/IDataTransfer/DoWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HL7DataRaw">
      <soap12:operation soapAction="http://tempuri.org/IDataTransfer/HL7DataRaw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataTransfer">
    <wsdl:port name="WSHttpBinding_IDataTransfer" binding="tns:WSHttpBinding_IDataTransfer">
      <soap12:address location="http://serviciohl7.azurewebsites.net/hl7proxy/DataTransfer.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://serviciohl7.azurewebsites.net/hl7proxy/DataTransfer.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>